@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
h1{
  text-align: center;
}
h1,h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 39px;
  color:green;
}
p{
  color:yellow;
  padding-left: 1em;
}
h2{font-size:25px;
}
p,li{
  font-family: 'Oswald', sans-serif;
}
body{
  background-color: black;
  border:solid mediumvioletred 5px;
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  color:white;
  border-radius: 15px;
}
p,h2,ul,ol{
  margin-left: 1rem;
}
p,h2,ul,ol{
  margin-bottom: 1rem;
}
li{
  margin-bottom: 1em;
}
img{
  margin-left: 3rem;
  width:90%;
}
